body{
    background-color:blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    padding-top:50px;
    color:burlywood;
    text-align:center;
    font-size: 48px;
}



.calculator{
    width:300px;
    height: 450px;

    position: relative;
    top: 50%;
    margin: -10px auto;

    display:flex;
    flex-direction: column;
    gap: 2px;
}




.display{
    background-color:aliceblue;
    height: 75px;
    width:275;
    margin: 5px;
}
#formula{
   
    height:35px;
    width:275;
    margin-right: 5px;
    display:flex;
    justify-content: right;
    align-items:center;
    
    color:gray;
    font-size:18px;
}
#result{
    
    height: 40px;
    width: 275;
    margin-right: 5px;
    display:flex;
    justify-content: right;
    align-items:center;

    color:darkslategray;
    font-size:22px;
}




.buttons{
    background-color: lightcoral;
    height: 75px;
    width:275;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.button{
    background-color: lightgoldenrodyellow;
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    color: lightcoral;

    border-radius: 20px;
}
.button:hover{
    transform: translateY(-0.25em);
}
.button:active{
    /*background-color:lightcoral;
    color: lightgoldenrodyellow;*/
    
    transform: scale(1.4);
}